[project]
	description = Learning code stuff
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/triqtruong
[access "refs/for/refs/*"]
	read = group user/triqtruong
	push = group user/triqtruong
	label-Code-Review = -2..+2 group user/triqtruong
	label-Verified = -1..+1 group user/triqtruong
	rebase = group user/triqtruong
	removeReviewer = group user/triqtruong
	submit = group user/triqtruong
[access "refs/heads/*"]
	read = group user/triqtruong
	create = group user/triqtruong
	push = +force group user/triqtruong
	pushMerge = group user/triqtruong
[access "refs/tags/*"]
	push = group user/triqtruong
	push = +force group user/triqtruong
