[project]
	description = Learning code stuff
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tri Truong (triqtruong)
[access "refs/for/refs/*"]
	read = group user/Tri Truong (triqtruong)
	push = group user/Tri Truong (triqtruong)
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/Tri Truong (triqtruong)
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Tri Truong (triqtruong)
	rebase = group user/Tri Truong (triqtruong)
	removeReviewer = group user/Tri Truong (triqtruong)
	submit = group Change Owner
	submit = group user/Tri Truong (triqtruong)
[access "refs/heads/*"]
	read = group user/Tri Truong (triqtruong)
	create = group user/Tri Truong (triqtruong)
	push = +force group user/Tri Truong (triqtruong)
	pushMerge = group user/Tri Truong (triqtruong)
[access "refs/tags/*"]
	push = group user/Tri Truong (triqtruong)
	push = +force group user/Tri Truong (triqtruong)
